@{
    ViewBag.Title = "Index";
}

<h2>Lynzy</h2>

<div class="col-md-2" style="border:2px black solid;">
    file chooser
</div>


<div class="col-md-8" style="border:2px black solid;">
    <div class="jumbotron">
        <h1>Lynzy</h1>
        <p>...</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>




        <p>
            this is some text
        </p>
        <div class="media-player">
            <audio controls>
                <source src="The Eagles - Hotel California.mp3">
            </audio>
        </div>


    <!--
    <audio controls>
        <source src="horse.ogg" type="audio/ogg">
        <source src="horse.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    -->

    </div>
</div>
    

    <div class="col-md-2" style="border:2px black solid;">
        Create PlayLists
    </div>



