@using Lynzy.Domain.Entities
@model IEnumerable<SongFiles>

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    body {
        background: navy !important;
    }
    /* Adding !important forces the browser to overwrite the default style applied by Bootstrap */
</style>

<h2>Lynzy</h2>


<div class="col-md-8" style="border:2px black solid">
    <div class="jumbotron mybg">
        <h1>Lynzy</h1>

        <p>Select the song to play</p>
        
        <div class="media-player">
            <audio controls>
                <source src="/songs/@ViewBag.currentSongName">
            </audio>
        </div>

        <table style="width:100%">
            <tr>
                <th>Title</th>
                <th>Contributing Artists</th>
                <th>Album</th>
                <th>Length</th>
            </tr>
            @foreach (var song in Model)
    {
        <tr>
            <td><a href="?songId=@song.SID">@song.Title</a></td>
            <td>@song.ContributingArtists</td>
            <td>@song.Album</td>
            <td>@song.Length</td>
        </tr>
}
        </table>
    </div>
</div>





